<article class="order-item-article">
        <section class="section-title section-title-1"><p>訂單編號</p></section>
        <section class="section-title"><p>購買日期</p></section>
        <section class="section-title"><p>訂單狀態</p></section>
        <section class="section-title"><p>購買金額</p></section>
        <section class="section-title"><p>付款狀態</p></section>
        <section class="section-detail"><button class="section-button">訂單明細</button></section>
        <section class="section-content"><p><%= order.id  %></p></section>
        <section class="section-content"><p><%= order.date  %></p></section>
        <section class="section-content"><p><%= order.status  %></p></section>
        <section class="section-content"><p>NT$ <%= order.productData.totalPrice %></p></section>
        <section class="section-content"><p><%= order.paystatus %></p></section>
</article>
<aside class="order-item-aside">
        <% for (const orderinfo of order.productData.items) { %>
        <ul class="order-cart-item-ul">
                <li class="order-product-name">
                    <p><%= orderinfo.product.name %></p>
                </li>
                <li>
                    <p class="order-cart-item-p">尺吋/規格：<span class="order-text"><%= orderinfo.size %></span></p>
                    <p class="order-cart-item-p">顏色：<span class="order-text"><%= orderinfo.color %></span></p>
                </li>
                <li>
                    <p class="order-cart-item-p">商品單價：<span class="order-text">NT$ <%= orderinfo.product.price %></span></p>
                </li>
                <li>
                    <p class="order-cart-item-p">購買數量： <span class="order-text"><%= orderinfo.quantity %></span>件</p>
                </li>
            </ul>

            <% } %>
            <section class="order-receiver-section">
                <p>收件人資訊</p>
            </section>
            <section class="order-receiver-content-section-users">
                <p>姓名：<span><%= order.receiverData.name %></span></p>
                <p>電子郵件：<span><%= order.receiverData.email %></span></p>
                <p>電話： <span><%= order.receiverData.phone %></span></p>
                <p>郵遞區號：<span><%= order.receiverData.postal %></span></p>
                <p>地址：<span><%= order.receiverData.address %></span></p>
        
        </section>

</aside>